@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code {
    @apply bg-gray-700 text-gray-100 py-1 px-1 whitespace-pre-wrap;
  }
}

body {
  background-color: #000;
  color: #eee;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
